:root {
  --playground-code-font-family: Roboto Mono, monospace;
  --playground-code-background: #1e1e1e;
  --playground-code-default-color: #d4d4d4;
  --playground-code-keyword-color: #c586c0;
  --playground-code-atom-color: #d4d4d4;
  --playground-code-number-color: #b5cea8;
  --playground-code-def-color: #9cdcfe;
  --playground-code-variable-color: #dcdcaa;
  --playground-code-property-color: #9cdcfe;
  --playground-code-operator-color: #808080;
  --playground-code-variable-2-color: #d4d4d4;
  --playground-code-variable-3-color: #d4d4d4;
  --playground-code-type-color: #569cd6;
  --playground-code-comment-color: #d4d4d4;
  --playground-code-string-color: #ce9178;
  --playground-code-string-2-color: #d4d4d4;
  --playground-code-meta-color: #569cd6;
  --playground-code-qualifier-color: #d4d4d4;
  --playground-code-builtin-color: #d4d4d4;
  --playground-code-attribute-color: #d4d4d4;
  --playground-code-callee-color: #dcdcaa;
  --playground-code-tag-color: #569cd6;
  --playground-code-linenumber-color: var(--playground-code-default-color);
  --playground-code-selection-background: #569cd688;

  --playground-preview-width: 50%;
}

body {
  margin: 0;
  font-family: Roboto Mono, monospace;
}

playground-ide {
  height: calc(100vh - 5px);
}

img.logo {
  height: 30vh;
  width: 35vh;
}

li > img {
  vertical-align: middle;
}

.thirty-percent {
  height: 30vh;
}

.fifty-percent {
  height: 50vh;
}

.seventy-percent {
  height: 70vh;
}

.thirty-percent-w {
  width: 30vw;
}

.fifty-percent-w {
  width: 50vw;
}

.sevent-percent-w {
  width: 70vw;
}

.reveal code {
  color: var(--playground-code-variable-color);
  border: 1px solid white;
  width: auto;
}

.print-pdf .reveal-viewport,
.print-pdf .reveal-viewport .pdf-page,
.print-pdf .reveal-viewport .speaker-notes-pdf,
.print-pdf .reveal-viewport .speaker-notes-pdf:before,
.print-pdf .reveal-viewport .pdf-page h1,
.print-pdf .reveal-viewport .pdf-page h2,
.print-pdf .reveal-viewport .pdf-page h3,
.print-pdf .reveal-viewport .pdf-page h4,
.print-pdf .reveal-viewport .pdf-page h5,
.print-pdf .reveal-viewport .pdf-page h6 {
  background: #fff !important;
  color: #000 !important;
  opacity: 1;
}
